<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.discord-tts-bot.database</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/docker</string>
        <string>compose</string>
        <string>-f</string>
        <string>/Users/hyosangahn/Personal-Projects/Discord-TTS-Bot/docker-compose.dev.yml</string>
        <string>up</string>
        <string>database</string>
        <string>-d</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/hyosangahn/Personal-Projects/Discord-TTS-Bot</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/hyosangahn/Personal-Projects/Discord-TTS-Bot/logs/database.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/hyosangahn/Personal-Projects/Discord-TTS-Bot/logs/database.error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>